.state-0 {
color : red
}
.state-1 {
color : blue
}
.state-2 {
color : green;
}

#milieu
{
width: 760px;
height: 50px;
border: 2px solid black;
margin-top: 11px;
padding-top: 10px;
background-color: white;
color-interpolation: purple
}
